<article class="post">
  <h2 >
    <a class="blog-post-title" href="post/{{id}}">{{title}}</a></h2>
    <p class="blog-content">({{post_content}})</p>
  
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
    |
    <a class="comment" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>